<nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin">
                        <i class="mdi mdi-grid-large menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                    </a>
                </li>

                {{!-- bookings --}}
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false"
                        aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-floor-plan"></i>
                        <span class="menu-title">Bookings</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/bookings/new-bookings">New
                                    Bookings</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/bookings/on-going-trips">On going
                                    Trips</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/bookings/completed-trips">Completed
                                    Trips</a>
                            <li class="nav-item"> <a class="nav-link" href="/bookings/cancelled-bookings">Cancelled bookings</a>
                        </ul>
                    </div>
                </li>

                {{!-- cars management --}}
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false"
                        aria-controls="form-elements">
                        <i class="menu-icon mdi mdi-car-connected"></i>
                        <span class="menu-title">Cars Management</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="form-elements">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="/cars-management/add-new-car">Add New
                                    Car</a></li>
                            <li class="nav-item"><a class="nav-link" href="/cars-management/view-all-cars">View All
                                    Car</a></li>
                            <li class="nav-item"><a class="nav-link" href="/cars-management/add-models">Add New
                                    Model</a></li>
                                       <li class="nav-item"><a class="nav-link" href="/cars-management/view-brands">View
                                    Brands</a></li>
                        </ul>
                    </div>
                </li>

                {{!-- user management --}}
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false"
                        aria-controls="charts">
                        <i class="menu-icon mdi mdi-account-multiple"></i>
                        <span class="menu-title">User Management</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="charts">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="/user-management/all-users">All Users</a></li>
                            {{!-- <li class="nav-item"><a class="nav-link" href="/user-management/blocked-users">Blocked Users</a></li> --}}
                        </ul>
                    </div>
                </li>
                {{!-- banner management --}}
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#banner" aria-expanded="false"
                        aria-controls="banner">
                        <i class="menu-icon mdi mdi-crop-landscape"></i>
                        <span class="menu-title">Banner Management</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="banner">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="/banner-management/banner">Add or Remove Banner</a></li>
                        </ul>
                    </div>
                </li>

                {{!-- coupons and offers --}}
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false"
                        aria-controls="tables">
                        <i class="menu-icon mdi mdi-sale"></i>
                        <span class="menu-title">Coupons and Offers</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="tables">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/coupon-management/add-coupon">Manage Coupons</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/coupon-management/add-offers">Manage Offers</a></li>
                        </ul>
                    </div>
                </li>

                {{!-- location --}}
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false"
                        aria-controls="icons">
                        <i class="menu-icon mdi mdi-map-marker"></i>
                        <span class="menu-title">Manage Location</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="icons">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/location-management/add-location">Add new City</a></li>
                            <li class="nav-item"> <a class="nav-link" href="/location-management/view-states">View all States</a></li>
                        </ul>
                    </div>
                </li>
                {{!-- reports --}}
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false"
                        aria-controls="auth">
                        <i class="menu-icon mdi mdi-elevation-rise"></i>
                        <span class="menu-title">Reports</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="auth">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" href="/report/trip-report"> Trip Reports </a></li>
                            <li class="nav-item"> <a class="nav-link" href="/report/sales-report"> Sales Reports By Car </a></li>
                            <li class="nav-item"> <a class="nav-link" href="/report/sales-report-by-city"> Sales Reports By City </a></li>
                        </ul>
                    </div>
                </li>


            </ul>
        </nav>