<section>
    <div class="container mt-5">
        <div class="text-center">

            <p class="display-4">Change password</p>
        </div>
        <div class="row d-flex p-5  justify-content-center">
            <div class="col-md-4 p-5 shadow rounded-9">
                {{#if wrongpassword}}
                <p class="text-danger">Wrong password</p>
                {{/if}}
                <form onsubmit="return checkPassword()" action="/change-password" method="post">
                    <!-- Name input -->
                    <div class="form-outline ">
                        <input type="password" name="currentpassword" id="currentpassword" class="form-control" />
                        <label class="form-label" for="currentpassword">Enter current password</label>
                    </div>
                    <p class="text-danger" id="currentpasswordmsg"></p>

                    <!-- Email input -->
                    <div class="form-outline mt-4">
                        <input type="password" name="newpassword" id="newpassword" class="form-control" />
                        <label class="form-label" for="newpassword">Enter new password</label>
                    </div>
                    <p class="text-danger" id="newpasswordmsg"></p>
                    <div class="form-outline mt-4">
                        <input type="password" id="confirmnewpassword" class="form-control" />
                        <label class="form-label" for="confirmnewpassword">Confirm new password</label>
                    </div>
                    <p class="text-danger" id="confirmnewpasswordmsg"></p>



                    <!-- Submit button -->
                    <div class="text-center mt-4">

                        <button type="submit" class="btn btn-primary btn-sm rounded-1">Update password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<script>

    function checkPassword() {

        let currentpassword = document.getElementById('currentpassword').value
        let newpassword = document.getElementById('newpassword').value
        let confirmnewpassword = document.getElementById('confirmnewpassword').value

        if (currentpassword == "") {
            document.getElementById("currentpasswordmsg").innerHTML = "Please enter the current password ";
            return false;
        }
        if (newpassword == "") {
            document.getElementById("newpasswordmsg").innerHTML = "Please enter the new password";
            return false;
        }
        if (newpassword.length <= 5 || newpassword.length > 20) {
            document.getElementById("newpasswordmsg").innerHTML = "password must be greater than 5 characters";
            return false;
        } else {
            document.getElementById("newpasswordmsg").innerHTML = "";
        }


        if (confirmnewpassword == "") {
            document.getElementById("confirmnewpasswordmsg").innerHTML = "Please enter the confirmpassword";
            return false;
        }
        if (newpassword != confirmnewpassword) {
            document.getElementById("confirmnewpasswordmsg").innerHTML = "Password Mismatch";
            return false;
        } else {
            document.getElementById("confirmnewpasswordmsg").innerHTML = "";

        }
        
    }
</script>